html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
	background-color: #f0f5f9;
}

#dayView {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
}

#dayTitle {
	margin: auto;
}

h2 {
	margin-bottom: 20px;
	text-align: center;
	color: #2d3436;
}

.no-entries {
	text-align: center;
	margin: auto;
}

.no-entries button {
	background-color: #c9d6df;
	border-color: #c9d6df;
	color: white;
}

.no-entries h3 {
	color: #c9d6df;
}

.drop-add-entry form {
	margin: 10px;
}

.btn-group button,
.drop-add-entry .dropdown-toggle {
	background-color: #c9d6df;
	min-height: 40px;
	min-width: 40px;
}

.drop-add-entry button {
	display: block;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-cal {
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	margin: auto;
}

.btn-image {
	width: 15px;
}

#dayBody {
	width: 100%;
	flex: 1 1 auto;
	margin-top: 40px;
	overflow-x: hidden;
	overflow-y: auto;
}

.drop-datepicker .dropdown-toggle {
	height: 100%;
	border-radius: 0;
}

.drop-datepicker .dropdown-menu {
	padding-top:0;
	padding-bottom:0;
}

.owner-header {
	font-size: 30px;
	background-color: #52616b;
	color: #f0f5f9;
}

.owner-entries {
	background-color: #c9d6df;
}

.entries {
	width: 100%;
	padding: 20px 5px 20px 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

.entry-container {
	display: inline-flex;
	padding: 15px 0 15px 0;
}

.entry-card {
	float: left;
	display: inline-block;
	width: 350px;
	margin: 0px 5px 0px 0px;
}

.attribution,
.attribution a {
	color: #c9d6df;
}
